{% extends "../base.njk" %}

{% block body %}
<main class="col col--1-2 post content">
  <h1>{{title}}</h1>
  <div class="sketch">
    <canvas id="{{sketch}}"></canvas>
  </div>
</main>
{% endblock %}

{% block footerscripts %}
<script type="module" src="/assets/js/sketches/shadersketch.ts"></script>
<script id="{{sketch}}-frag">
  {{shader}}
</script>
<script>
  var frag = document.getElementById("{{sketch}}-frag").textContent;
  window.addEventListener('DOMContentLoaded', function() {
    (function() {
      new window.CreateSketchShader(frag, "{{sketch}}");
    })();
  });
</script>
{% endblock %}
