{% extends "../base.njk" %}

{% block body %}
<main class="col col--1-2 post content">
  <h1>{{title}}</h1>
  <div class="sketch">
    <canvas id="{{sketch}}"/>
  </div>
</main>
{% endblock %}

{% block footerscripts %}
<script type="module" src="/assets/js/sketches/{{sketch}}.ts"></script>
{% endblock %}
