section#comments {
  button#load-comment {
    display: block;
    width: 100%;
    background: $red;
    border: 0;
    border-radius: 2px;
    padding: 5px;
    &:hover {
      background: $orange;
    }
  }
  .fedi-info {
    text-decoration: none;
  }
  .comments-fedi-info-box {
    line-height: 1.4em;
    color: $white-grey;
    h3 {
      font-size: 1rem;
      margin: 0.7rem 0;
    }
    font-size: 0.7rem;
  }

  background: $med-dark-grey;
  border-radius: 10px;
  padding: 1px 20px;
  #comments-wrapper {
    margin: 1.5em 0;
    padding: 0 var(--card-padding);
  }

  .comment {
    display: grid;
    column-gap: 1rem;
    color: $black;
    grid-template-areas:
      'avatar name'
      'avatar time'
      'avatar post'
      '...... interactions';
    grid-template-columns: min-content;
    justify-items: start;
    margin: 41px auto 20px 0em;
    padding: 0.5em;
    background: $white;
    border-radius: 2px;
    position: relative;
    &:first-child {
      margin-top: 0px;
      &:before {
        display: none;
      }
    }
    &:before {
      display: block;
      content: ' ';
      width: 100%;
      background: $med-grey;
      height: 1px;
      position: absolute;
      top: -21px;
    }
    &.comment-reply {
      margin: 0em auto 20px 2em;
      &:before {
        display: none;
      }
    }

    .avatar-link {
      grid-area: avatar;
      height: 4rem;
      position: relative;
      width: 4rem;

      .avatar {
        height: 100%;
        width: 100%;
      }

      &.op::after {
        background-color: var(--accent-color);
        border-radius: 50%;
        bottom: -0.25rem;
        color: var(--accent-color-text);
        content: '✓';
        display: block;
        font-size: 1.25rem;
        font-weight: bold;
        height: 1.5rem;
        line-height: 1.5rem;
        position: absolute;
        right: -0.25rem;
        text-align: center;
        width: 1.5rem;
      }
    }

    .author {
      align-items: center;
      display: flex;
      font-weight: bold;
      gap: 0.5em;
      grid-area: name;

      .instance {
        background-color: var(--code-background-color);
        border-radius: 9999px;
        color: var(--neutral);
        font-size: smaller;
        font-weight: normal;
        padding: 0.25em 0.75em;

        &:hover {
          opacity: 0.8;
          text-decoration: none;
        }

        &.op {
          background-color: var(--accent-color);
          color: var(--accent-color-text);

          &::before {
            content: '✓';
            font-weight: bold;
            margin-inline-end: 0.25em;
            margin-inline-start: -0.25em;
          }
        }
      }
    }

    time {
      @extend small;

      grid-area: time;
      line-height: 1.5rem;
    }

    main {
      grid-area: post;

      p:first-child {
        margin-top: 0.25em;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    footer {
      @extend small;

      grid-area: interactions;

      .faves {
        color: inherit;

        &:hover {
          opacity: 0.8;
          text-decoration: none;
        }

        &::before {
          color: red;
          content: '♥';
          font-size: 2rem;
          margin-inline-end: 0.25em;
        }
      }
    }

    .emoji {
      display: inline;
      height: 1.25em;
      vertical-align: middle;
      width: 1.25em;
    }

    .invisible {
      display: none;
    }

    .ellipsis::after {
      content: '…';
    }
  }
}
