.content {
  h1 {
    margin-top: 10px;
  }
  ul {
    padding: 0;
    list-style: none;
  }
  li {
    padding-left: 20px;
    position: relative;
    &:before {
      top: 0.7em;
      position: absolute;
      left: 2.5px;
      display: block;
      content: " ";
      width: 5px;
      height: 5px;
      background: $red;
      transform: rotate(45deg);
    }
  }
}
