.post {
  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  figure {
    padding: 10px;
    background: $white;
    border: 1px solid $white;
    color: $black;
    img {
      display: block;
    }
    &.wp-embed-aspect-16-9 {
      position: relative;
      padding: 0;
      padding-top: 56.25%;
      border: 0;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
  figcaption {
    margin-top: 10px;
  }
  &__date {
    font-size: 12px;
    color: $orange;
    margin-top: 0;
  }
}
