.siteheader {
  width: 100%;
  background: $black;
  z-index: 10;
  padding-top: 20px;
  text-align: center;
  @include breakpoint(small) {
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
  }
  &__logo {
    fill: $red;
    width: 200px;
    height: 54px;
    display: block;
    margin-bottom: 5px;
    max-width: 100%;
    margin: auto;
    @include breakpoint(small) {
      margin: 0;
    }
  }
  em {
    font-size: 0.74em;
    font-weight: 600;
    line-height: 1em;
  }
  hr {
    background: $red;
    margin-top: 15px;
    margin-bottom: 0;
  }
  ul {
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    @include breakpoint(small) {
      float: right;
      justify-content: end;
    }
    a {
      background: $med-dark-grey;
      display: block;
      padding: 5px 10px;
      border-radius: 2px;
      transition: 0.2s all ease;
      &:hover,
      &.active {
        background: $red;
        color: $black;
      }
    }
    li {
      margin: 10px;
      &:last-child {
        margin-right: 0;
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
