.sitefooter {
  padding-top: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  svg {
    fill: currentColor;
    display: block;
    width: 20px;
    height: 20px;
  }
  ul {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
  }
  a {
    display: block;
    padding: 10px;
    transition: 0.2s ease color;
    &:hover {
      color: $red;
    }
  }
}
