/* ==========================================================================
   Colours
   ========================================================================== */

$black: #1c1c1e;
$white: #e9eade;
$link-active: #7393a7;
$dark: #67696e;

$dark: #575656;
$med-dark-grey: lighten($black, 5%);
$med-grey: lighten($med-dark-grey, 10%);
$light-grey: #ebebeb;
$white-grey: darken($white, 20%);

$red: #d63939;
$orange: #ed8d44;
$blue: #545eea;

$bg: $black;

/* ==========================================================================
   Typography
   ========================================================================== */

$small: 16px;
$medium: 14px;

$bodysize: $small;
$bodyline: 1.5em;

$body: 'Work Sans', 'Arial', sans-serif;

/* ==========================================================================
   Media Queries
   ========================================================================== */

$mobLand: 720px;
$tablet: 1024px;
