@font-face {
  font-family: "Gaffen Sans";
  src: url("~assets/fonts/WorkSans-ExtraBold.woff2") format("woff2"),
    url("~assets/fonts/WorkSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Gaffen Sans";
  src: url("~assets/fonts/WorkSans-SemiBold.woff2") format("woff2"),
    url("~assets/fonts/WorkSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Gaffen Sans";
  src: url("~assets/fonts/WorkSans-Regular.woff2") format("woff2"),
    url("~assets/fonts/WorkSans-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
