html {
  font-size: $bodysize;
  font-family: $body;
  line-height: $bodyline;
}

body {
  background: $bg;
  color: $white;
  @include breakpoint(small) {
    padding-top: 132px;
  }
}

h1 {
  line-height: 1.4em;
  color: $red;
}

a {
  color: currentColor;
}

hr {
  background: $orange;
  height: 3px;
  display: block;
  border: 0;
}

ul {
  padding: 0;
  list-style: none;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}
