{% extends "./base.njk" %}

{% block headerscripts %}
<link rel="stylesheet" href="/assets/js/codedemos.js" />
{% endblock %}

{% block body %}
<main class="col col--1-2 post content">
  <h1>{{title}}</h1>
  {{content | safe}}
</main>
{% endblock %}

{% block footerscripts %}
<script src="/assets/js/codedemos.js"></script>
{% endblock %}
