{% extends "../base.njk" %}

{% block headerscripts %}
  {% set metavalues = {
    'author': 'Matthew Gaffen', 
    'description': excerpt,
    'keywords': 'Web development, programming, theory, politics',
    'title': title,
    'image': { 
      'src': featured_image.media_details.sizes.ogtag.source_url, 
      'width': featured_image.media_details.sizes.ogtag.width, 
      'height': featured_image.media_details.sizes.ogtag.width 
    }
  } %}
  {% include "../partials/pagemeta.njk" %}
{% endblock %}

{% block body %}
<main class="col col--1-2 post content">
  <h1 class="post__title">{{title}}</h1>
  <p class="post__date">Published: {{ page.date.toUTCString() }}</p>
  {{content | safe}}
  {% include "../partials/comments.njk" %}
</main>
{% endblock %}
