.hide {
  display: none;
}

.fullwidth {
  width: 100%;
}

img.fullwidth {
  width: 100%;
  height: auto;
  display: block;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
