---
layout: "base.njk"
title: Blog Archive
pagination:
  data: collections.posts
  size: 6
  reverse: true
---
<ul>
  {% for post in pagination.items %}
    <li>
      <h1>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h1>
      {{ post.data.excerpt | safe }}
    </li>
  {% endfor %}
</ul>
