---
layout: "base.njk"
title: Sketch Archive
pagination:
  data: collections.sketches
  size: 6
  reverse: true
---
<ul>
  {% for sketch in pagination.items %}
    <li>
      <h1>
        <a href="{{ sketch.url | url }}">{{ sketch.data.title }}</a>
      </h1>
    </li>
  {% endfor %}
</ul>
