{% if masto_source %}
<section id="comments">
  <h2><a class="fedi-info" href="#comments-fediverse-info">Federated*</a> Discussion</h2>
  <p>
    <span id="comment-load-prompt">Click below to load comments from the <a class="fedi-info" href="#comments-fediverse-info"><strong>fediverse*</strong></a>.<br/></span> 
    Reply <a target="_blank" href="{{ masto_source }}"><strong>here</strong></a> to join in! (<a target="_blank" href="https://www.fediverse.to/">account required</a>)
  </p>
  <button id="load-comment"/>LOAD COMMENTS</button>
  <div id="comments-wrapper" data-source="{{ masto_source }}"></div>
  <script type="module" src="/assets/js/comments.js"></script>
  <div class="comments-fedi-info-box">
    <h3 id="comments-fediverse-info">*WTFediverse?</h3>
    <p>TLDR: <a target="_blank" href="https://tilvids.com/w/wx2iLhD3pTipbKFJKLyx5t">It's a bunch of social networks that can all speak to each other</a>. Unlike normal social media, if your social network is part of the fediverse it can talk to any other accout on any connected network.</p>
    <p>You could read a <a target="_blank" href="https://www.theverge.com/24063290/fediverse-explained-activitypub-social-media-open-protocol">really long article about it</a>, or you could just dive in and <a target="_blank" href="https://social.coop/@gaffen">send me a message</a> - I'll likely reply to you!</p>
  </div>
</section>
{% endif %}