<meta key="author" name="author" content="{{metavalues.author}}" />
<meta
  key="description"
  name="description"
  content="{{metavalues.description}}"
/>
<meta
  key="keywords"
  name="keywords"
  content="{{metavalues.keywords}}"
/>

<meta key="og.locale" property="og:locale" content="en" />
<meta key="og.type" property="og:type" content="website" />
<meta
  key="og.site_name"
  property="og:site_name"
  content="gaffen.co.uk"
/>

<meta
  key="og.title"
  property="og:title"
  content="{{metavalues.title}}"
/>
<meta key="og.url" property="og:url" content="https://gaffen.co.uk/{{page.url}}" />
{% if metavalues.image %}
  <meta key="og.image" property="og:image" content="{{ metavalues.image.src }}" />
  <meta key="og.image.width" property="og:image:width" content="{{ metavalues.image.width }}" />
  <meta key="og.image.height" property="og:image:height" content="{{ metavalues.image.height }}" />
  <meta key="twitter.image" name="twitter:image" content="{{ metavalues.image.src }}" />

  <meta
    key="twitter.card"
    name="twitter:card"
    content="summary_large_image"
  />
{% endif %}
<meta
  key="og.description"
  property="og:description"
  content="{{metavalues.description}}"
/>
<meta
  key="twitter.title"
  name="twitter:title"
  content="{{metavalues.title}}"
/>
<meta
  key="twitter.description"
  name="twitter:description"
  content="{{metavalues.description}}"
/>
