<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link rel="preload" href="/assets/styles/styles.scss" as="style" />

    <meta name="generator" content="{{ eleventy.generator }}"><link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#d63939">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#e9eade">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    {% block headerscripts %}
      {% set metavalues = {
        'author': 'Matthew Gaffen', 
        'description': 'Personal Website of Matthew Gaffen',
        'keywords': 'Web development, programming, theory, politics',
        'title': title
      } %}
      {% include "./partials/pagemeta.njk" %}
    {% endblock %}
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="/assets/styles/styles.scss">
  </head>
  <body>
    <div class="hidden">
      {% include "partials/sprite.svg" %}
    </div>
    <header class="siteheader">
      <div class="gridwrap flex">
        <div class="siteheader__identity col--1-4 col">
          <a aria-label="Return to Homepage" title="Return to Homepage" href="/">
            <svg class="siteheader__logo">
              <use xlink:href="#logo"></use>
            </svg>
          </a>
          <em>Creative Research & Development</em>
        </div>
        <nav class="col--3-4 col">
          <ul>
            <li><a{% if r/^\/posts.*/g.test(page.url) %}
              class="active"
            {% endif %} href="/posts">Blog</a></li>
            {#<li><a href="/posts">Code Stuff</a></li>#}
            {#<li><a href="/posts">CV</a></li>#}
            <li><a{% if r/^\/contact.*/g.test(page.url) %}
              class="active"
            {% endif %} href="/contact">Contact</a></li>
          </ul>
        </nav>
        <div class="col col--1">
          <hr>
        </div>
      </div>
    </header>
    <div class="gridwrap">
      <aside class="sidebar col col--1-4">
        <div class="infobox infobox--highlight content">
          <h3>Fresh from the Bleurgh:</h3>
          <ul>
            {% for index in range(0, 5) | reverse %}
              {% if collections.posts[index] %}
                {% set post = collections.posts[index] %}
                <li>
                  <a href="{{post.url}}">{{ post.data.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </aside>
      {% block body %}
        <div class="col--1-2 col">
          {{content|safe}}
        </div>
      {% endblock %}
      <footer class="col col--1 sitefooter">
        <nav>
          <ul>
            <li>
              <a title="Subscribe to the RSS feed" aria-label="Subscribe to the RSS feed" rel="noopener" href="/feed.xml">
                <svg>
                  <use xlink:href="#feed"></use>
                </svg>
              </a>
            </li>
            <li>
              <a title="My Github Account" aria-label="My Github Account" rel="noopener" target="_blank" href="https://github.com/Gaffen">
                <svg>
                  <use xlink:href="#github"></use>
                </svg>
              </a>
            </li>
              <a rel="me" title="Where you can find me on Mastadon" aria-label="Where you can find me on Mastadon" target="_blank" href="https://social.coop/@gaffen">
                <svg>
                  <use xlink:href="#mastodon"></use>
                </svg>
              </a>
            </li>
            <li>
              <a title="My Instagram account; lots of drawing" aria-label="My Instagram account; lots of drawing" rel="noopener" target="_blank" href="https://www.instagram.com/gaffenomicon/">
                <svg>
                  <use xlink:href="#instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a title="Where to find me on Twitter" aria-label="Where to find me on Twitter" rel="noopener" target="_blank" href="https://twitter.com/MattsDeadCat">
                <svg>
                  <use xlink:href="#twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
      </footer>
    </div>
    {% block footerscripts %}
    {% endblock %}
  </body>
</html>
