{% extends "./base.njk" %}

{% block body %}
  <div class="col--1-2 col content">
    <h1>About me:</h1>
    <p>I'm an art school graduate who taught himself how to code, but all I ever really wanted to do was <a rel="noopener" href="https://hearsepileup.rip" target="_blank">play music.</a></p>
    <p>This site has no explicit purpose but to be my avatar on the internet. I hope you enjoy your visit. It's a work in progress - expect more of interest soon.</p>
    <p>I've been involved in a variety of interesting activities over the years, including:</p>
    <ul>
      {% for item in cv.personal %}
        <li>
          <h2>{{item.title}}</h2>
          {% md item.description %}
          {% if item.links %}
            <h3>Relevant links:</h3>
            <ul>
              {% for link in item.links %}
                <li>
                  <a rel="noopener" href="{{link.link}}" target="_blank">
                    {{link.name if link.name else link.link}}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col--1-4 col sidebar">
    <div class="infobox">
      <h3>Need a CodeMonkey?</h3>
      <p>I will be uploading a CV soon. For now{#Take a look here for a more formal breakdown of my skillset.#} you can contact me at <strong>matt [at] gaffen.co.uk</strong> if you want to get in touch.</p>
    </div>
  </div>
{% endblock %}
